body {
    padding-bottom: 10px;
    font-size: .9rem;
    line-height: 1.2;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

.btn, .form-control {
    border-radius: 0 !important;
}

.gutter-10 {
    margin-left: -5px;
    margin-right: -5px;
}

.gutter-10 > * {
    padding-left: 5px;
    padding-right: 5px;
}

body #app {
    position: relative;
    z-index: 999;
}

body .backgrounds li {
    list-style: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}
.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 15px;
    height: 15px;
}
.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin-left: 5px;
    box-sizing: border-box;
    border: 10px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}
